.container {
  position: relative;
  width: 90%;
  height: 90vh;
  margin: 4rem auto;
  border-radius: 1rem;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
  .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    .front {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: $primary_color;
      opacity: 0.3;
      z-index: 12;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: $primary_color;
      opacity: 0.5;
      z-index: 12;
      opacity: 0.3;
      transform: rotateY(180deg);
      backface-visibility: hidden;
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 10;
    }
    .text {
      position: absolute;
      z-index: 130;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  #flip {
    &:checked {
      ~ {
        .cover {
          transform: rotateY(-180deg);
        }
      }
    }
    display: none;
  }
  .forms {
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.cover {
  .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .text {
    .text-1 {
      font-size: 2.6rem;
      font-weight: 600;
      color: $color_white;
      text-align: center;
    }
    .text-2 {
      margin: 1rem auto;
      font-size: 2rem;
      font-weight: 500;
      color: $color_white;
      text-align: center;
    }
    .text-3{
      font-size: 1.5rem;
      font-weight: 500;
      color: $color_white;
      text-align: center;
    }
  }
}
.form-content {
  .login-form {
    width: calc(100% / 2 - 25px);
  }
  .signup-form {
    width: calc(100% / 2 - 25px);
  }
  .input-box {
    input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      &:focus {
        border-color: $primary_color;
      }
      &:valid {
        border-color: $primary_color;
      }
    }
    i {
      position: absolute;
      color: $primary_color;
      font-size: 17px;
    }
  }
}
.forms {
  .form-content {
    .title {
      position: relative;
      font-size: 24px;
      font-weight: 500;
      color: $color_black;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 25px;
        background: $primary_color;
      }
    }
    .input-boxes {
      margin-top: 30px;
    }
    .input-box {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      margin: 10px 0;
      position: relative;
    }
    .text {
      font-size: 14px;
      font-weight: 500;
      color: $color_black;
      a {
        text-decoration: none;
        color: $color-black;
        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
    .button {
      color: $color_white;
      margin-top: 40px;
      input {
        color: $color_white;
        background:rgba($primary-color, 0.8);
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
          background: $primary-color;
        }
      }
    }
    label {
      color: $primary_color;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .login-text {
      text-align: center;
      margin-top: 25px;
    }
    .sign-up-text {
      text-align: center;
      margin-top: 25px;
    }
  }
  .signup-form {
    .title {
      &:before {
        width: 20px;
      }
    }
  }
}